{
  "root": true,
  "extends": "simenb-base",
  "overrides": [
    {
      "files": "test.js",
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "no-restricted-syntax": [0],
    "prettier/prettier": ["error", { "trailingComma": "all" }]
  }
}
